<% provide(:title, "Contact") %>
<h1>联系</h1>
<p>
  <!-- Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a> -->
  微信：McGrady13513
</p>
